<%= render "shared/page", title: "Card Component" do %>
  <%# Rendering with title and content %>
  <%= render 'shared/card', title: 'My Title', content: 'My content' %>
  <%# Rendering with title and a block %>
  <%= render 'shared/card', title: 'My Title' do %>
    <p>This is my custom content in a block.</p>
  <% end %>
<% end %>