<div data-controller="accordion">
  <% items.each do |item| %>
    <div class="border-b">
      <button 
        type="button" 
        class="flex justify-between items-center w-full p-4 text-left bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring focus:ring-blue-300" 
        data-action="click->accordion#toggle"
        aria-expanded="false" 
        aria-controls="accordion-item-<%= item[:id] %>"
        data-accordion-target="button">
        <span><%= item[:title] %></span>
        <span class="ml-2" aria-hidden="true">▼</span>
      </button>
      <div id="accordion-item-<%= item[:id] %>" class="hidden p-4" data-accordion-target="content">
        <p><%= item[:content] %></p>
      </div>
    </div>
  <% end %>
</div>
