<div class="border border-neutral-light shadow-sm rounded-lg p-4 bg-surface">
  <h2 class="text-xl font-semibold text-neutral-dark mb-2"><%= title %></h2>
  <p class="text-neutral-default mb-4"><%= description %></p>
</div>
