<div data-controller="dropzone" class="border-2 border-dashed border-neutral-default p-6 rounded-lg bg-surface cursor-pointer transition-colors hover:bg-neutral-light" data-dropzone-target="dropzone">
  <!-- This is the target where the filename will be shown -->
  <p class="text-neutral-default" data-dropzone-target="filename">Drag and drop files here or click to upload.</p>
  <input type="file" class="hidden" data-dropzone-target="input" multiple>
</div>
