<div class="flex flex-col min-h-screen bg-background">
  <!-- Navbar -->
  <%= render 'shared/navbar' %>
  <div class="flex flex-1" data-controller="sidebar">
    <!-- Sidebar -->
    <%= render 'shared/sidebar', items: [
      { title: "Accordion", url: "/components/accordion", icon: "sidebar_icon" },
      { title: "Avatar", url: "/components/avatar", icon: "sidebar_icon" },
      { title: "Badge", url: "/components/badge", icon: "sidebar_icon" },
      { title: "Banner", url: "/components/banner", icon: "sidebar_icon" },
      { title: "Button", url: "/components/button", icon: "sidebar_icon" },
      { title: "Card", url: "/components/card", icon: "sidebar_icon" },
      { title: "Checkbox", url: "/components/checkbox", icon: "sidebar_icon" },
      { title: "Codeblock", url: "/components/codeblock", icon: "sidebar_icon" },
      { title: "Collapsible", url: "/components/collapsible", icon: "sidebar_icon" },
      { title: "Combobox", url: "/components/combobox", icon: "sidebar_icon" },
      { title: "Datepicker", url: "/components/datepicker", icon: "sidebar_icon" },
      { title: "Dropdown", url: "/components/dropdown", icon: "sidebar_icon" },
      { title: "Dropzone", url: "/components/dropzone", icon: "sidebar_icon" },
      { title: "Form", url: "/components/form", icon: "sidebar_icon" },
      { title: "Icon", url: "/components/icon", icon: "sidebar_icon" },
      { title: "Input", url: "/components/input_field", icon: "sidebar_icon" },
      { title: "List", url: "/components/list", icon: "sidebar_icon" },
      { title: "Modal", url: "/components/modal", icon: "sidebar_icon" },
      { title: "Page", url: "/components/page", icon: "sidebar_icon" },
      { title: "Radio", url: "/components/radio_button", icon: "sidebar_icon" },
      { title: "Select", url: "/components/select", icon: "sidebar_icon" },
      { title: "Skeleton", url: "/components/skeleton", icon: "sidebar_icon" },
      { title: "Table", url: "/components/table", icon: "sidebar_icon" },
      { title: "Tabs", url: "/components/tabs", icon: "sidebar_icon" },
      { title: "Toast", url: "/components/toast", icon: "sidebar_icon" },
      { title: "Tooltip", url: "/components/tooltip", icon: "sidebar_icon" },
    ] %>
    <!-- Main Content -->
    <div class="flex-1 ml-64 pt-16 p-8">
      <%= yield %>
    </div>
  </div>
</div>