<% if list_type == 'ul' %>
  <ul class="border-collapse border border-gray-300 w-full bg-surface">
    <% items.each do |item| %>
      <li class="flex border border-gray-300 py-2 px-4 justify-between items-center hover:bg-gray-100">
        <% item.each do |cell| %>
          <span class="flex-1 text-left px-2"><%= cell %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% elsif list_type == 'ol' %>
  <ol class="border-collapse border border-gray-300 w-full bg-surface">
    <% items.each do |item| %>
      <li class="flex border border-gray-300 py-2 px-4 justify-between items-center hover:bg-gray-100">
        <% item.each do |cell| %>
          <span class="flex-1 text-left px-2"><%= cell %></span>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>
