<aside data-scroll-preservation-target="sidebar" class="fixed w-64 h-[calc(100vh-4rem)] bg-surface text-neutral-dark mt-16 overflow-y-auto">
  <div class="p-4">
    <h2 class="text-2xl font-semibold">Equinox</h2>
  </div>
  <nav class="mt-6">
    <ul class="space-y-2">
      <% items.each do |item| %>
        <li>
          <a href="<%= item[:url] %>" class="flex items-center px-4 py-2 text-neutral-default hover:bg-primary hover:text-white">
            <% if item[:icon] %>
              <%= render partial: "shared/icon", locals: { 
                icon_name: item[:icon], 
                size: "w-6 h-6", 
                color: "text-primary",
                additional_classes: "mr-3"
              } %>
            <% end %>
            <span><%= item[:title] %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</aside>