<div data-controller="toast">
  <!-- Button to trigger toast -->
  <button class="bg-green-500 text-white px-4 py-2 rounded" data-action="toast#show">
    <%= button_text %>
  </button>
  <!-- Toast -->
  <div data-toast-target="toast" class="hidden fixed bottom-4 left-1/2 transform -translate-x-1/2 bg-black text-white text-sm rounded-lg py-3 px-6 shadow-lg z-50">
    <%= message %>
  </div>
</div>