:root {
    --navbar-background: #14171A;
    /* Light Mode Navbar Background */

    --color-primary: #1DA1F2;
    /* Primary Color */
    --color-secondary: #14171A;
    /* Secondary Color */
    --color-tertiary: #FFAD1F;
    /* Tertiary Color */
    --color-success: #28A745;
    /* Success Color */
    --color-warning: #FFC107;
    /* Warning Color */
    --color-critical: #DC3545;
    /* Critical Color */
    --color-info: #17A2B8;
    /* Info Color */
    --color-neutral-light: #F8F9FA;
    /* Light Neutral Color */
    --color-neutral-default: #6C757D;
    /* Default Neutral Color */
    --color-neutral-dark: #343A40;
    /* Dark Neutral Color */

    --color-background: #F0F4F8;
    /* Light background color for the app */
    --color-surface: #FFFFFF;
    /* White background for cards and surfaces */

    --text-primary: #14171A;
    /* Primary text color */
    --text-secondary: #657786;
    /* Secondary text color */
    --text-tertiary: #AAB8C2;
    /* Tertiary text color */
    --text-success: #28A745;
    /* Success text color */
    --text-warning: #FFC107;
    /* Warning text color */
    --text-critical: #DC3545;
    /* Critical text color */
    --text-info: #17A2B8;
    /* Info text color */
    --text-neutral-light: #F8F9FA;
    /* Light neutral text color */
    --text-neutral-default: #6C757D;
    /* Default neutral text color */
    --text-neutral-dark: #343A40;
    /* Dark neutral text color */

    /* Border Colors */
    --border-success: #28A745;
    /* Success border color */
    --border-warning: #FFC107;
    /* Warning border color */
    --border-critical: #DC3545;
    /* Critical border color */
    --border-info: #17A2B8;
    /* Info border color */
    --border-neutral: #6C757D;
    /* Neutral border color */
}

.dark {
    --navbar-background: #1F1F1F;
    /* Dark Mode Navbar Background */

    --color-primary: #1DA1F2;
    /* Primary Color */
    --color-secondary: #FFFFFF;
    /* Secondary Color for contrast */
    --color-tertiary: #FFAD1F;
    /* Tertiary Color */
    --color-success: #28A745;
    /* Success Color */
    --color-warning: #FFC107;
    /* Warning Color */
    --color-critical: #DC3545;
    /* Critical Color */
    --color-info: #17A2B8;
    /* Info Color */
    --color-neutral-light: #343A40;
    /* Dark Neutral Light Color */
    --color-neutral-default: #6C757D;
    /* Neutral Color */
    --color-neutral-dark: #F8F9FA;
    /* Light Neutral Dark Color */

    --color-background: #1A1A1A;
    /* Dark background color for the app */
    --color-surface: #2A2A2A;
    /* Dark surface background for cards and surfaces */

    --text-primary: #FFFFFF;
    /* White text for primary */
    --text-secondary: #B0B0B0;
    /* Light gray for secondary */
    --text-tertiary: #AAB8C2;
    /* Tertiary text color */
    --text-success: #28A745;
    /* Success text color */
    --text-warning: #FFC107;
    /* Warning text color */
    --text-critical: #DC3545;
    /* Critical text color */
    --text-info: #17A2B8;
    /* Info text color */
    --text-neutral-light: #F8F9FA;
    /* Light neutral text color */
    --text-neutral-default: #F8F9FA;
    /* Default neutral text color */
    --text-neutral-dark: #F8F9FA;
    /* Dark neutral text color */

    /* Border Colors */
    --border-success: #28A745;
    /* Success border color */
    --border-warning: #FFC107;
    /* Warning border color */
    --border-critical: #DC3545;
    /* Critical border color */
    --border-info: #17A2B8;
    /* Info border color */
    --border-neutral: #6C757D;
    /* Neutral border color */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
    color: var(--text-primary);
}

body {
    background-color: var(--color-background);
}

::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--color-neutral-light);
    /* Track color */
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-neutral-default);
    /* Scrollbar color */
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
    /* Color on hover */
}

/* For dark mode */
.dark ::-webkit-scrollbar-track {
    background: var(--color-neutral-dark);
}

.dark ::-webkit-scrollbar-thumb {
    background: var(--color-neutral-light);
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}