:root {
    --navbar-background: #14171A;
    --color-primary: #1DA1F2;
    --color-secondary: #14171A;
    --color-tertiary: #FFAD1F;
    --color-success: #28A745;
    --color-warning: #FFC107;
    --color-critical: #DC3545;
    --color-info: #17A2B8;
    --color-neutral: #6C757D;
    /* Updated neutral color */
    --color-background: #F0F4F8;
    --color-surface: #FFFFFF;

    --text-default: #14171A;
    --text-button-default: #FFF;
    --text-primary: #1DA1F2;
    --text-btn-secondary: #1DA1F2;
    --text-secondary: #FFF;
    --text-tertiary: #AAB8C2;
    --text-success: #28A745;
    --text-warning: #FFC107;
    --text-critical: #DC3545;
    --text-info: #17A2B8;
    --text-neutral: #6C757D;

    /* Hover Background Colors */
    --hover-bg-primary: #0d8dd7;
    --hover-bg-secondary: #101010;
    --hover-bg-tertiary: #e69513;
    --hover-bg-success: #218838;
    --hover-bg-warning: #e0a800;
    --hover-bg-critical: #c82333;
    --hover-bg-info: #138496;
    --hover-bg-neutral: #5c636a;

    /* Hover Text Colors */
    --hover-text-primary: #FFF;
    --hover-text-secondary: #0d0d0d;
    --hover-text-tertiary: #cc8d10;
    --hover-text-success: #FFF;
    --hover-text-warning: #FFF;
    --hover-text-critical: #FFF;
    --hover-text-info: #FFF;
    --hover-text-neutral: #565e64;
}



.dark {
    --navbar-background: #1F1F1F;
    --color-primary: #1DA1F2;
    --color-secondary: #FFFFFF;
    --color-tertiary: #FFAD1F;
    --color-success: #28A745;
    --color-warning: #FFC107;
    --color-critical: #DC3545;
    --color-info: #17A2B8;
    --color-neutral: #6C757D;
    --color-background: #1A1A1A;
    --color-surface: #2A2A2A;

    --text-primary: #FFFFFF;
    --text-secondary: #B0B0B0;
    --text-tertiary: #AAB8C2;
    --text-success: #28A745;
    --text-warning: #FFC107;
    --text-critical: #DC3545;
    --text-info: #17A2B8;
    --text-neutral: #F8F9FA;

    /* Hover Background Colors */
    --hover-bg-primary: #1a8ac1;
    --hover-bg-secondary: #e1e1e1;
    --hover-bg-tertiary: #d98c12;
    --hover-bg-success: #218838;
    --hover-bg-warning: #e0a800;
    --hover-bg-critical: #b21f2d;
    --hover-bg-info: #117a8b;
    --hover-bg-neutral: #5e646a;

    /* Hover Text Colors */
    --hover-text-primary: #0a6ca6;
    --hover-text-secondary: #d3d3d3;
    --hover-text-tertiary: #cc8d10;
    --hover-text-success: #1d7e34;
    --hover-text-warning: #cf9700;
    --hover-text-critical: #9f232b;
    --hover-text-info: #0e6e7d;
    --hover-text-neutral: #c8c8c8;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
    color: var(--text-default);
}

body {
    background-color: var(--color-background);
}

::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--color-neutral-light);
    /* Track color */
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-neutral-default);
    /* Scrollbar color */
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
    /* Color on hover */
}

/* For dark mode */
.dark ::-webkit-scrollbar-track {
    background: var(--color-neutral-dark);
}

.dark ::-webkit-scrollbar-thumb {
    background: var(--color-neutral-light);
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}